{% extends "base.html" %}
{% from "macros.html" import topbar, footer, wap_back %}
{% block title %}风云三国{% endblock %}
{% block body %}
{{ topbar("风云三国", user) }}
<div class="crumb"><a href="/">家园</a> › <a href="/lobby">大厅</a> › 风云三国</div>
<div class="card">
  <div class="hd">三国名将</div>
  职业 <b>{{ class_name }}</b> · 阵营 <b>{{ faction_name }}</b><br>
  Lv<b>{{ st.level }}</b>（经验 {{ st.exp }}/{{ exp_need }}）<br>
  战力 <b>{{ power }}</b> · 银两 <b>{{ st.silver }}</b> · 荣誉 <b>{{ st.honor }}</b><br>
  所在地：<b>{{ city_name }}</b>
  <div class="bar"><i style="width:{{ (st.exp / exp_need * 100)|int if exp_need else 0 }}%"></i></div>
</div>
<div class="card">
  <div class="hd">属性</div>
  气血 <b>{{ st.hp }}</b> · 内力 <b>{{ st.mp }}</b><br>
  攻击 <b>{{ st.atk }}</b> · 防御 <b>{{ st.defense }}</b><br>
  闪避 <b>{{ st.dodge }}</b> · 暴击 <b>{{ st.crit }}</b>
</div>
{% if need_create %}
<div class="card">
  <div class="hd">请先选择职业与阵营</div>
  <div class="muted">选择职业与阵营后正式开始三国之旅</div>
  <a class="btn" href="/games/fengyun/create">前往选择 ›</a>
</div>
{% endif %}
{% if training_ready %}
<div class="card">
  <div class="hd">演武收益待领取</div>
  <a class="btn green" href="/games/fengyun/training">前往领取 ›</a>
</div>
{% endif %}
{% if todo %}
<div class="section-title">待办</div>
<div class="content">
  {% for name, info, href in todo %}
  <a class="li" href="{{ href }}"><span>{{ name }}</span><span class="r">{{ info }} ›</span></a>
  {% endfor %}
</div>
{% endif %}
<div class="section-title">快捷入口</div>
<div class="grid2">
  <a href="/games/fengyun/mainquests">主线任务</a>
  <a href="/games/fengyun/create">职业阵营</a>
  <a href="/games/fengyun/skills">技能</a>
  <a href="/games/fengyun/equip">装备</a>
  <a href="/games/fengyun/shop">商店</a>
  <a href="/games/fengyun/dungeons">副本</a>
  <a href="/games/fengyun/legion">军团</a>
  <a href="/games/fengyun/titles">称号</a>
  <a href="/games/fengyun/achievements">成就</a>
  <a href="/games/fengyun/training">演武</a>
  <a href="/games/fengyun/rules">规则</a>
  <a href="/inventory?m=fengyun">背包</a>
</div>
{{ wap_back() }}
{{ footer(user) }}
{% endblock %}
